In [28]:
import pandas as pd
import numpy as np
import csv

In [29]:
df = pd.read_csv('salario.csv')
salario_2 = df.drop('salario', axis=1)

In [30]:
dt2 = []
dt2 = salario_2["data"].str.split("/", n = 2, expand = True)
salario_2 = salario_2.drop("data", axis=1)

salario_2['dia'] = dt2[0]
salario_2['mes'] = dt2[1]
salario_2['ano'] = dt2[2]

In [31]:
cidades = salario_2.cidade.unique().tolist()
estados = salario_2.estado.unique().tolist()
paises = salario_2.pais.unique().tolist()
generos = salario_2.genero.unique().tolist()
dias = salario_2.dia.unique().tolist()
meses = salario_2.mes.unique().tolist()
anos = salario_2.ano.unique().tolist()

In [32]:
def teste(df, atributo, i): #df: dataframe, atributo: lista, i: indice do atributo na coluna
    colunas = ['id', 'pais', 'estado', 'cidade','genero', 'dia', 'mes', 'ano']
    count = 0
    grupos = []
    for at in atributo:
        atrib = df.groupby(colunas[i])
        atrib = atrib.get_group(at)
        list(atrib)
        count = count+1
        grupos.append([atrib])
         #print("Grupo {}: \n{}\n{}".format(count,atrib,"-"*100))
    return grupos

In [33]:
colunas = ['id', 'pais', 'estado', 'cidade','genero', 'dia', 'mes', 'ano']

In [34]:
teste(salario_2, dias,5)

[[      id            pais                      estado  \
  0      1   United States                     Alabama
  5      6   United States                        Ohio
  66    67        Portugal                       Porto
  87    88        Portugal                      Aveiro
  105  106          Mexico         Michoacan De Ocampo
  122  123        Portugal            Viana do Castelo
  187  188        Portugal            Viana do Castelo
  196  197          Sweden                 Västmanland
  202  203          Sweden             Västra Götaland
  265  266          France               Île-de-France
  272  273  United Kingdom                    Scotland
  282  283        Portugal                       Braga
  299  300        Portugal                    Bragança
  350  351   United States              North Carolina
  361  362        Portugal                     Setúbal
  382  383          Canada                     Alberta
  386  387          Mexico                     Chiapas
  441  442          France               Île-de-France
  493  494          Canada                      Québec
  525  526          Sweden                   Stockholm
  555  556          Canada                     Nunavut
  606  607          Sweden                   Stockholm
  608  609        Portugal                       Viseu
  630  631          France                    Picardie
  649  650          Canada                      Québec
  663  664          Mexico                     Jalisco
  809  810          Sweden                   Stockholm
  843  844          Sweden                      Kalmar
  896  897          Mexico                  Guanajuato
  905  906          Sweden                   Stockholm
  906  907          France  Provence-Alpes-Côte d'Azur
  911  912          Canada                     Alberta
  915  916          Canada               New Brunswick
  926  927   United States                      Oregon

                           cidade  genero dia mes   ano
  0                        Mobile    Male  10  01  1987
  5                    Cincinnati  Female  10  07  1981
  66                      Moinhos    Male  10  06  1984
  87        Nogueira da Regedoura    Male  10  05  1997
  105             Emiliano Zapata    Male  10  09  1994
  122                    Regueiro  Female  10  06  1984
  187                    Quintães  Female  10  12  2002
  196                    Västerås    Male  10  07  1990
  202                    Göteborg  Female  10  03  1994
  265                     Puteaux    Male  10  07  2006
  272                   Edinburgh  Female  10  01  2008
  282                    Infantas    Male  10  08  2001
  299        Carrazeda de Ansiães  Female  10  07  1994
  350                   Charlotte    Male  10  05  1997
  361                      Torrão    Male  10  12  1984
  382                       Edson  Female  10  07  1985
  386                   Guadalupe  Female  10  09  1995
  441                      Antony  Female  10  12  1986
  493                    Saguenay  Female  10  06  1987
  525                   Stockholm  Female  10  05  1996
  555                   Kugluktuk  Female  10  06  1998
  606                   Norrtälje    Male  10  07  1997
  608                     Portela    Male  10  12  1986
  630               Saint-Quentin  Female  10  01  1981
  649  Notre-Dame-de-l'Île-Perrot  Female  10  04  1995
  663                  Santa Rosa  Female  10  11  1985
  809                       Solna  Female  10  11  2003
  843                   Västervik    Male  10  03  1982
  896                  San Isidro  Female  10  06  2000
  905                        Täby  Female  10  06  1999
  906            Sophia Antipolis  Female  10  09  1984
  911                  Crossfield  Female  10  02  1996
  915                    Nackawic  Female  10  03  2006
  926                    Portland  Female  10  08  2006  ],
 [      id           pais           estado              cidade  genero dia mes  \
  1      2       Portugal            Porto                Rego    Male  29  11
  10    11  United States          Florida           Melbourne    Male  29  01
  37    38       Portugal            Porto                Fojo  Female  29  05
  45    46       Portugal            Braga                Agra    Male  29  04
  49    50         Sweden        Gävleborg               Gävle  Female  29  09
  121  122       Portugal         Santarém              Valada    Male  29  03
  173  174  United States         Colorado              Denver  Female  29  04
  195  196         Canada          Ontario             Timmins  Female  29  04
  205  206         France  Basse-Normandie            Saint-Lô  Female  29  01
  235  236         France    Île-de-France            Paris 13    Male  29  03
  239  240         Sweden            Skåne               Ystad    Male  29  06
  240  241         Canada          Alberta                Olds    Male  29  06
  271  272       Portugal            Viseu  Cabanas de Viriato  Female  29  01
  410  411         Mexico          Sinaloa         Los Angeles  Female  29  08
  416  417  United States     Pennsylvania                Erie  Female  29  06
  420  421       Portugal            Porto              Vilela  Female  29  05
  426  427  United States       California           San Diego    Male  29  07
  496  497       Portugal         Bragança            Paradela    Male  29  11
  524  525         Canada    New Brunswick            Oromocto  Female  29  05
  526  527       Portugal           Aveiro              Igreja  Female  29  06
  537  538       Portugal             Faro           Quarteira    Male  29  04
  541  542         Mexico           Mexico             La Mesa    Male  29  08
  557  558  United States         New York       New York City  Female  29  01
  735  736         Sweden  Västra Götaland               Askim    Male  29  01
  746  747       Portugal          Coimbra              Seixas    Male  29  11
  753  754         Sweden  Västra Götaland          Bengtsfors    Male  29  01
  776  777  United States         Michigan             Saginaw    Male  29  07
  822  823         Sweden        Stockholm           Stockholm  Female  29  12
  951  952  United States         Virginia            Richmond    Male  29  01
  967  968       Portugal          Setúbal            Morgados  Female  29  01
  984  985  United States            Texas              Dallas  Female  29  05
  995  996         Canada     Saskatchewan             Nipawin  Female  29  11

        ano
  1    2007
  10   2007
  37   1981
  45   1997
  49   1985
  121  2003
  173  2009
  195  1997
  205  1987
  235  1987
  239  2010
  240  2007
  271  1992
  410  2003
  416  1983
  420  1995
  426  1993
  496  1987
  524  2002
  526  2002
  537  1994
  541  2000
  557  2005
  735  1991
  746  1987
  753  1987
  776  2002
  822  1991
  951  2010
  967  1998
  984  1999
  995  1995  ],
 [      id           pais                      estado               cidade  \
  2      3         Sweden                      Kalmar             Emmaboda
  6      7         France            Poitou-Charentes                Niort
  39    40       Portugal                      Aveiro               Canedo
  73    74  United States                    Oklahoma                Tulsa
  90    91         France                    Lorraine               Longwy
  94    95         Sweden                   Jönköping               Nässjö
  142  143         Sweden                    Blekinge               Mörrum
  156  157         Mexico                     Chiapas          Santa Elena
  207  208         France            Pays de la Loire       Saint-Herblain
  248  249         Canada                     Ontario             Waterloo
  274  275       Portugal                      Guarda            Sebadelhe
  322  323         France  Provence-Alpes-Côte d'Azur            Marseille
  428  429       Portugal                     Setúbal  Charneca da Cotovia
  540  541  United States                        Ohio            Cleveland
  548  549  United States                      Alaska            Anchorage
  572  573         Mexico         Michoacan De Ocampo        Independencia
  603  604       Portugal                     Coimbra           Albergaria
  716  717  United States                   Tennessee              Memphis
  771  772       Portugal                       Viseu                Vales
  778  779         France               Île-de-France   Bonneuil-sur-Marne
  816  817         Sweden                       Skåne           Trelleborg
  819  820         France                 Rhône-Alpes              Aubenas
  826  827         Sweden             Västra Götaland             Göteborg
  841  842         Sweden             Västra Götaland           Sollebrunn
  861  862       Portugal                     Coimbra              Ribeira
  868  869         Canada                      Québec              Mercier
  885  886         France               Île-de-France       Cergy-Pontoise
  962  963         France                       Corse              Ajaccio
  974  975       Portugal                    Santarém             Meia Via
  977  978         France                      Centre              Orléans
  987  988  United States                  California        San Francisco
  998  999         France                    Bretagne               Rennes

       genero dia mes   ano
  2      Male  23  06  1984
  6    Female  23  03  1989
  39     Male  23  12  1999
  73   Female  23  12  2007
  90   Female  23  09  1983
  94     Male  23  02  2010
  142    Male  23  04  2000
  156  Female  23  09  1989
  207  Female  23  07  1992
  248    Male  23  04  2005
  274  Female  23  06  1985
  322  Female  23  10  1992
  428  Female  23  01  2002
  540  Female  23  05  1986
  548    Male  23  10  1981
  572  Female  23  07  2007
  603  Female  23  07  2000
  716  Female  23  03  1997
  771    Male  23  06  1999
  778  Female  23  12  1986
  816    Male  23  07  1981
  819  Female  23  08  1992
  826  Female  23  07  2005
  841  Female  23  12  1984
  861  Female  23  08  1985
  868    Male  23  06  2010
  885    Male  23  09  1993
  962  Female  23  11  1998
  974  Female  23  06  1992
  977    Male  23  10  1996
  987  Female  23  03  1999
  998    Male  23  09  1996  ],
 [      id           pais                      estado            cidade  genero  \
  3      4         Sweden                 Västmanland              Sala  Female
  19    20         Sweden                     Dalarna            Avesta  Female
  86    87         Sweden                      Örebro            Örebro  Female
  140  141         France  Provence-Alpes-Côte d'Azur         Marseille  Female
  177  178         Canada                     Ontario  Napanee Downtown    Male
  275  276  United States                        Ohio        Youngstown  Female
  303  304  United States                  New Jersey           Trenton    Male
  338  339  United States                     Florida       Tallahassee  Female
  347  348         Sweden             Västra Götaland         Lidköping  Female
  356  357  United States                    Kentucky         Lexington  Female
  431  432         Canada                      Québec       Napierville  Female
  449  450         Canada                 Nova Scotia      Sydney Mines    Male
  453  454         Sweden             Västra Götaland             Bohus    Male
  489  490  United States        District of Columbia        Washington  Female
  504  505         Sweden             Västra Götaland        Svenljunga    Male
  547  548         Mexico                  Guanajuato    Miguel Hidalgo    Male
  556  557         Canada                     Ontario            Hearst  Female
  615  616         France          Nord-Pas-de-Calais             Lille  Female
  678  679         France                    Auvergne          Aurillac  Female
  755  756       Portugal                       Porto            Tapado  Female
  756  757  United States                  Washington          Bellevue    Male
  764  765         Mexico                      Mexico       San Antonio    Male
  767  768         Sweden                   Stockholm        Vallentuna    Male
  773  774       Portugal            Viana do Castelo              Chão    Male
  818  819  United States                     Florida       Gainesville  Female
  879  880         Sweden                     Halland        Kungsbacka  Female
  880  881  United States                    Kentucky         Frankfort    Male
  928  929  United States                      Hawaii          Honolulu    Male
  934  935         France            Poitou-Charentes             Niort  Female

      dia mes   ano
  3    04  11  1983
  19   04  05  2000
  86   04  09  1988
  140  04  02  1985
  177  04  09  2005
  275  04  08  1989
  303  04  07  2004
  338  04  10  1997
  347  04  04  1990
  356  04  09  1981
  431  04  09  1992
  449  04  03  2002
  453  04  08  2001
  489  04  07  1988
  504  04  03  1989
  547  04  04  2000
  556  04  10  2001
  615  04  04  1997
  678  04  06  1995
  755  04  07  2010
  756  04  11  1984
  764  04  12  1980
  767  04  10  2005
  773  04  10  2007
  818  04  07  2007
  879  04  08  1993
  880  04  08  1987
  928  04  12  1982
  934  04  11  1985  ],
 [      id           pais                      estado                cidade  \
  4      5         France                    Bretagne             Quimperlé
  32    33       Portugal                       Porto              Guimarei
  41    42       Portugal                   Vila Real       Mondim de Basto
  48    49         France                      Centre                 Tours
  95    96         Sweden             Västra Götaland               Lysekil
  148  149       Portugal                       Viseu                  Cruz
  167  168         Sweden                 Västmanland                Köping
  200  201         France  Provence-Alpes-Côte d'Azur             Marseille
  260  261         Sweden                   Stockholm             Stockholm
  310  311  United States                        Ohio            Cincinnati
  330  331         Canada                      Québec                 Lévis
  359  360         France            Pays de la Loire                  Rezé
  365  366       Portugal                     Coimbra  São Paio de Gramaços
  433  434       Portugal                       Porto          Cabo de Vila
  438  439         France                 Rhône-Alpes                  Lyon
  450  451       Portugal                   Vila Real                Loivos
  482  483         Mexico                    Guerrero             Fovissste
  554  555  United States                       Texas            Fort Worth
  567  568         France               Île-de-France                 Orsay
  580  581         Sweden             Västra Götaland              Göteborg
  611  612         France             Basse-Normandie               L'Aigle
  623  624         Canada               New Brunswick              Oromocto
  624  625       Portugal                       Braga     Macieira de Rates
  651  652         Sweden                 Västmanland                Köping
  668  669         France                 Rhône-Alpes                Annecy
  689  690         France            Poitou-Charentes             Angoulême
  711  712         Sweden                       Skåne               Svedala
  739  740         France               Franche-Comté              Besançon
  752  753         Sweden             Västra Götaland             Uddevalla
  765  766       Portugal                      Aveiro           Oliveirinha
  779  780  United States                    Kentucky            Louisville
  791  792         Mexico                  Tamaulipas                Azteca
  801  802         France  Provence-Alpes-Côte d'Azur                  Nice
  838  839         Sweden                   Stockholm             Stockholm
  875  876       Portugal                       Braga                 Atães
  883  884       Portugal                       Braga                 Gonça
  898  899         Canada                     Ontario        Carleton Place
  940  941         France                    Auvergne             Montluçon
  941  942  United States                    Kentucky             Lexington

       genero dia mes   ano
  4    Female  18  11  1990
  32   Female  18  04  1996
  41   Female  18  08  1981
  48     Male  18  07  2010
  95     Male  18  03  1996
  148    Male  18  11  1984
  167  Female  18  08  2003
  200  Female  18  07  1981
  260  Female  18  05  1994
  310    Male  18  09  1988
  330    Male  18  06  1984
  359    Male  18  12  1996
  365  Female  18  12  1996
  433  Female  18  03  1986
  438  Female  18  06  1991
  450    Male  18  04  2005
  482  Female  18  06  1985
  554  Female  18  12  1986
  567    Male  18  02  2010
  580  Female  18  01  1985
  611    Male  18  02  2007
  623  Female  18  07  2007
  624  Female  18  07  2000
  651  Female  18  11  1998
  668  Female  18  12  1992
  689    Male  18  07  1985
  711    Male  18  03  1986
  739    Male  18  05  1989
  752  Female  18  08  1990
  765    Male  18  04  1982
  779  Female  18  05  1988
  791    Male  18  05  2000
  801  Female  18  03  2003
  838  Female  18  11  1997
  875    Male  18  10  1988
  883  Female  18  01  1990
  898    Male  18  03  1992
  940  Female  18  04  2010
  941    Male  18  07  2007  ],
 [      id           pais                      estado               cidade  \
  7      8         Mexico                  Tamaulipas            Del Valle
  67    68  United States                Pennsylvania           Pittsburgh
  84    85       Portugal                   Vila Real           Montalegre
  113  114         Canada                      Québec        Saint-Raymond
  199  200         Sweden                   Stockholm           Åkersberga
  223  224       Portugal                      Lisboa            Carrascal
  232  233       Portugal                     Setúbal          Vale Boeiro
  250  251       Portugal                       Braga            Castelões
  306  307         France                    Bretagne    Noyal-sur-Vilaine
  307  308         France            Pays de la Loire               Nantes
  343  344       Portugal                     Coimbra  Vila Pouca da Beira
  364  365         France               Franche-Comté             Besançon
  374  375         Sweden                  Norrbotten                Piteå
  379  380       Portugal                       Braga              Lordelo
  434  435       Portugal          Ilha de São Miguel            Achadinha
  536  537         France  Provence-Alpes-Côte d'Azur                 Nice
  542  543       Portugal                       Évora     Monte do Outeiro
  641  642  United States                     Florida                Miami
  694  695         Canada                     Alberta         Fort Macleod
  695  696         Sweden                   Stockholm            Stockholm
  706  707         Canada                      Québec       Saint-Augustin
  732  733       Portugal                       Braga                Couto
  811  812  United States                    Michigan              Detroit
  827  828         Canada               New Brunswick             Nackawic
  850  851         France                    Lorraine               Épinal
  859  860  United States                  California            Lancaster
  864  865         France                    Bretagne               Rennes
  932  933  United States              South Carolina          Spartanburg
  943  944         France                 Rhône-Alpes                 Lyon
  986  987         Sweden                   Jönköping                 Habo

       genero dia mes   ano
  7      Male  02  05  1990
  67   Female  02  11  1988
  84     Male  02  05  1999
  113    Male  02  12  1990
  199    Male  02  03  1989