In [68]:
import pandas as pd
import numpy as np
import csv

In [69]:
df = pd.read_csv('salario.csv')
salario_2 = df.drop('salario', axis=1)

* ## *Splita a data*

In [70]:
dt2 = []
dt2 = salario_2["data"].str.split("/", n = 2, expand = True)
salario_2 = salario_2.drop("data", axis=1)
salario_2['dia'] = dt2[0]
salario_2['mes'] = dt2[1]
salario_2['ano'] = dt2[2]

In [81]:
ids = salario_2.id.unique().tolist()
cidades = salario_2.cidade.unique().tolist()
estados = salario_2.estado.unique().tolist()
paises = salario_2.pais.unique().tolist()
generos = salario_2.genero.unique().tolist()
dias = salario_2.dia.unique().tolist()
meses = salario_2.mes.unique().tolist()
anos = salario_2.ano.unique().tolist()

colunas = [ids, paises, estados, cidades, generos, dias, meses, anos]

In [82]:
def agrupa(df, atributo, i): #df: dataframe, atributo: lista, i: indice do atributo na coluna
    colunas = ['id', 'pais', 'estado', 'cidade','genero', 'dia', 'mes', 'ano']
    count = 0
    grupos = []
    for at in atributo:
        atrib = df.groupby(colunas[i])
        atrib = atrib.get_group(at)
        list(atrib)
        count = count+1
        grupos.append([atrib])
         #print("Grupo {}: \n{}\n{}".format(count,atrib,"-"*100))
    return grupos

In [83]:
#colunas = ['id', 'pais', 'estado', 'cidade','genero', 'dia', 'mes', 'ano']

* ## *Transforma a lista de dataframes em uma lista de listas*

In [84]:
def dt_to_list(a):
    #test = teste(salario_2, dias,5)
    lista = []
    for i in range(0,len(test)):
        l = list(test[i][:])
        lista.append(l)
    a = lista
    return a

In [85]:
test = agrupa(salario_2, paises, 1)
test = dt_to_list(test)
test

#type(test[0][:])
#dt_to_list(agrupa(salario_2,estados,2))

[[      id           pais          estado            cidade  genero dia mes  \
  0      1  United States         Alabama            Mobile    Male  10  01
  5      6  United States            Ohio        Cincinnati  Female  10  07
  8      9  United States        Oklahoma     Oklahoma City    Male  27  11
  10    11  United States         Florida         Melbourne    Male  29  01
  14    15  United States        Kentucky         Frankfort  Female  14  11
  17    18  United States         Alabama            Mobile  Female  06  05
  21    22  United States           Texas    Corpus Christi    Male  06  01
  38    39  United States        Kentucky        Louisville  Female  26  10
  51    52  United States        Colorado            Denver  Female  27  10
  57    58  United States        Missouri       Saint Louis  Female  22  02
  61    62  United States        Colorado           Greeley    Male  01  07
  67    68  United States    Pennsylvania        Pittsburgh  Female  02  11
  73    74  United States        Oklahoma             Tulsa  Female  23  12
  75    76  United States   West Virginia        Huntington  Female  21  06
  77    78  United States      California    San Bernardino  Female  21  07
  92    93  United States         Indiana        Evansville  Female  16  09
  124  125  United States            Ohio         Cleveland  Female  26  10
  126  127  United States        Colorado            Denver    Male  16  03
  161  162  United States        Oklahoma             Tulsa    Male  28  05
  173  174  United States        Colorado            Denver  Female  29  04
  181  182  United States        Oklahoma             Tulsa    Male  17  05
  188  189  United States         Florida   West Palm Beach  Female  30  08
  189  190  United States       Louisiana        Shreveport  Female  31  01
  194  195  United States            Ohio            Dayton    Male  30  05
  197  198  United States         Florida         Kissimmee    Male  26  11
  214  215  United States        Maryland     Silver Spring  Female  22  12
  215  216  United States           Texas       San Antonio    Male  01  02
  219  220  United States      New Jersey            Newark  Female  16  03
  222  223  United States        Virginia           Roanoke  Female  31  07
  244  245  United States     Mississippi           Jackson  Female  01  11
  ..   ...            ...             ...               ...     ...  ..  ..
  842  843  United States           Texas    Corpus Christi    Male  05  12
  844  845  United States         Florida        Boca Raton  Female  12  05
  859  860  United States      California         Lancaster  Female  02  10
  862  863  United States        Delaware        Wilmington  Female  26  08
  871  872  United States      California         Lancaster    Male  20  02
  880  881  United States        Kentucky         Frankfort    Male  04  08
  888  889  United States        Illinois           Chicago    Male  14  08
  889  890  United States         Florida             Tampa  Female  24  09
  893  894  United States         Arizona              Mesa  Female  01  11
  897  898  United States           Texas           Houston    Male  17  06
  901  902  United States        Virginia           Roanoke  Female  17  08
  904  905  United States         Florida     Daytona Beach  Female  05  10
  912  913  United States            Ohio            Toledo    Male  20  06
  916  917  United States         Florida  Saint Petersburg  Female  20  10
  926  927  United States          Oregon          Portland  Female  10  08
  928  929  United States          Hawaii          Honolulu    Male  04  12
  931  932  United States     Connecticut          Hartford    Male  30  12
  932  933  United States  South Carolina       Spartanburg    Male  02  11
  935  936  United States     Connecticut          Hartford    Male  16  04
  937  938  United States      California          Van Nuys    Male  03  05
  939  940  United States        Illinois           Chicago  Female  27  11
  941  942  United States        Kentucky         Lexington    Male  18  07
  951  952  United States        Virginia          Richmond    Male  29  01
  954  955  United States         Arizona        Scottsdale  Female  26  11
  960  961  United States        Virginia            Reston    Male  17  10
  963  964  United States           Texas          Beaumont    Male  06  05
  973  974  United States         Alabama            Mobile  Female  24  01
  984  985  United States           Texas            Dallas  Female  29  05
  987  988  United States      California     San Francisco  Female  23  03
  988  989  United States          Alaska         Anchorage  Female  31  03

        ano
  0    1987
  5    1981
  8    1992
  10   2007
  14   1980
  17   1983
  21   1999
  38   1993
  51   2009
  57   2010
  61   2007
  67   1988
  73   2007
  75   2010
  77   2000
  92   2000
  124  1998
  126  2001
  161  2005
  173  2009
  181  2004
  188  1989
  189  2000
  194  1999
  197  2008
  214  1988
  215  1981
  219  1991
  222  1993
  244  2005
  ..    ...
  842  1993
  844  2005
  859  1982
  862  1999
  871  1990
  880  1987
  888  1985
  889  1992
  893  2009
  897  2002
  901  2008
  904  2000
  912  1996
  916  2003
  926  2006
  928  1982
  931  1990
  932  2005
  935  1982
  937  1995
  939  2000
  941  2007
  951  2010
  954  2006
  960  1987
  963  2006
  973  2007
  984  1999
  987  1999
  988  1997

  [157 rows x 8 columns]],
 [      id      pais              estado                  cidade  genero dia  \
  1      2  Portugal               Porto                    Rego    Male  29
  27    28  Portugal          Portalegre            Santo Aleixo    Male  25
  32    33  Portugal               Porto                Guimarei  Female  18
  35    36  Portugal      Castelo Branco                 Aranhas  Female  03
  36    37  Portugal             Setúbal                 Santana    Male  01
  37    38  Portugal               Porto                    Fojo  Female  29
  39    40  Portugal              Aveiro                  Canedo    Male  23
  40    41  Portugal    Viana do Castelo                    Viso  Female  12
  41    42  Portugal           Vila Real         Mondim de Basto  Female  18
  44    45  Portugal           Vila Real                 Amieiro  Female  25
  45    46  Portugal               Braga                    Agra    Male  29
  46    47  Portugal            Santarém                 Barrosa  Female  17
  52    53  Portugal              Lisboa               Algueirão  Female  08
  54    55  Portugal             Coimbra     Costa de Rios Frios  Female  07
  56    57  Portugal              Leiria           Chão de Couce    Male  25
  58    59  Portugal      Castelo Branco         Aldeia do Bispo  Female  26
  60    61  Portugal              Guarda                Muxagata  Female  07
  62    63  Portugal              Aveiro                  Veiros    Male  05
  65    66  Portugal  Ilha de São Miguel          Ribeira Grande  Female  21
  66    67  Portugal               Porto                 Moinhos    Male  10
  76    77  Portugal               Viseu                  Granja    Male  11
  81    82  Portugal     Ilha da Madeira                  Igreja    Male  25
  84    85  Portugal           Vila Real              Montalegre    Male  02
  87    88  Portugal              Aveiro   Nogueira da Regedoura    Male  10
  93    94  Portugal               Viseu                  Cepões  Female  25
  97    98  Portugal  Ilha de São Miguel          Feteira Grande    Male  03
  99   100  Portugal             Setúbal                  Almada    Male  24
  106  107  Portugal              Lisboa                   Cobre    Male  25
  107  108  Portugal               Braga                Sobreira    Male  26
  110  111  Portugal               Porto                   Lamas  Female  20
  ..   ...       ...                 ...                     ...     ...  ..
  870  871  Portugal                Beja  Vila Nova de Milfontes    Male  20
  872  873  Portugal               Porto                  Navais    Male  08
  875  876  Portugal               Braga                   Atães    Male  18
  881  882  Portugal             Setúbal          Alcácer do Sal  Female  08
  883  884  Portugal               Braga                   Gonça  Female  18
  886  887  Portugal             Setúbal        Pinhal de Frades  Female  31
  891  892  Portugal    Viana do Castelo             Vila Franca  Female  22
  903  904  Portugal              Lisboa                  Famões    Male  09
  913  914  Portugal  Ilha de São Miguel           Porto Formoso  Female  27
  917  918  Portugal           Vila Real                  Igreja    Male  07
  921  922  Portugal               Porto                  Vinhas  Female  16
  923  924  Portugal               Porto                 Sobrosa  Female  27
  924  925  Portugal             Coimbra               Vilarinho  Female  25
  925  926  Portugal      Castelo Branco           Souto da Casa  Female  12
  930  931  Portugal               Braga                  Eirado  Female  14
  945  946  Portugal              Lisboa     Alverca do Ribatejo  Female  27
  946  947  Portugal            Bragança             Valtelheiro    Male  21
  950  951  Portugal               Braga                Alminhas    Male  11
  955  956  Portugal              Lisboa        Várzea de Sintra  Female  14
  967  968  Portugal             Setúbal                Morgados  Female  29
  972  973  Portugal              Aveiro               Sangalhos    Male  21
  974  975  Portugal            Santarém                Meia Via  Female  23
  975  976  Portugal             Coimbra         Senhor da Serra  Female  13
  976  977  Portugal             Setúbal                   Canha    Male  08
  978  979  Portugal              Aveiro                Cruzeiro    Male  30
  979  980  Portugal            Santarém                Almeirim  Female  22
  980  981  Portugal               Viseu                 Quintãs  Female  20
  983  984  Portugal               Braga                   Souto  Female  17
  994  995  Portugal           Vila Real                  Vidago    Male  27
  996  997  Portugal          Portalegre            Santo Aleixo  Female  09

      mes   ano
  1    11  2007
  27   10  1999
  32   04  1996
  35   04  1981
  36   06  2000
  37   05  1981
  39   12  1999
  40   01  2005
  41   08  1981
  44   02  2008
  45   04  1997
  46   01  1981
  52   02  1995
  54   10  1988
  56   09  1988
  58   07  1996
  60   10  1997
  62   05  1995
  65   07  1988
  66   06  1984
  76   01  1987
  81   03  1994
  84   05  1999
  87   05  1997
  93   10  1980
  97   12  1995
  99   09  2000
  106  01  1983
  107  12  2003
  110  04  1985
  ..   ..   ...
  870  06  1988
  872  02  1997
  875  10  1988
  881  01  2005
  883  01  1990
  886  01  1988
  891  03  1982
  903  07  1998
  913  06  2009
  917  08  2003
  921  11  2000
  923  04  1984
  924  06  1991
  925  08  1998
  930  11  1998
  945  11  2005
  946  01  1986
  950  03  1984
  955  04  2000
  967  01  1998
  972  01  2006
  974  06  1992
  975  05  1981
  976  06  1984
  978  07  2008
  979  04  1985
  980  04  1999
  983  10  2008
  994  02  1991
  996  02  1988

  [249 rows x 8 columns]],
 [      id    pais           estado       cidade  genero dia mes   ano
  2      3  Sweden           Kalmar     Emmaboda    Male  23  06  1984
  3      4  Sweden      Västmanland         Sala  Female  04  11  1983
  11    12  Sweden         Värmland       Årjäng    Male  25  03  1995
  12    13  Sweden          Uppsala      Uppsala  Female  15  01  1996
  13    14  Sweden     Södermanland  Katrineholm  Female  31  10  2002
  15    16  Sweden        Stockholm       Älvsjö  Female  05  05  1985
  19    20  Sweden          Dalarna       Avesta  Female  04  05  2000
  20    21  Sweden           Kalmar        Nybro  Female  28  02  1996
  25    26  Sweden   Västernorrland    Kvissleby    Male  19  10  1981
  26    27  Sweden  Västra Götaland     Göteborg    Male  01  12  2000
  29    30  Sweden        Stockholm  Gustavsberg  Female  16  08  1999
  33    34  Sweden            Skåne        Ystad  Female  17  09  1999
  34    35  Sweden  Västra Götaland     Göteborg    Male  30  12  1997
  42    43  Sweden            Skåne    Ängelholm  Female  28  06  2004
  43    44  Sweden        Stockholm   Sundbyberg  Female  17  03  2000
  49    50  Sweden        Gävleborg        Gävle  Female  29  09  1985
  53    54  Sweden        Stockholm    Hägersten    Male  26  07  2000
  82    83  Sweden  Västra Götaland     Göteborg    Male  24  08  1999
  86    87  Sweden           Örebro       Örebro  Female  04  09  1988
  94    95  Sweden        Jönköping       Nässjö    Male  23  02  2010
  95    96  Sweden  Västra Götaland      Lysekil    Male  18  03  1996
  98    99  Sweden        Stockholm    Vällingby  Female  20  03  2009
  101  102  Sweden        Stockholm     Järfälla  Female  06  05  2005
  102  103  Sweden   Västernorrland    Sundsvall    Male  30  03  2004
  103  104  Sweden       Norrbotten        Boden    Male  14  06  1981
  109  110  Sweden     Västerbotten   Skellefteå  Female  11  07  2000
  116  117  Sweden        Stockholm     Hässelby    Male  12  02  1983
  132  133  Sweden     Östergötland  Söderköping  Female  12  10  1994
  133  134  Sweden  Västra Götaland    Uddevalla  Female  31  03  1993
  134  135  Sweden          Uppsala      Uppsala  Female  11  01  2008
  ..   ...     ...              ...          ...     ...  ..  ..   ...
  823  824  Sweden           Örebro   Kopparberg  Female  21  11  1981
  825  826  Sweden  Västra Götaland   Ulricehamn    Male  30  06  1990
  826  827  Sweden  Västra Götaland     Göteborg  Female  23  07  2005
  830  831  Sweden           Kalmar    Hultsfred  Female  16  10  1989
  832  833  Sweden          Halland      Varberg  Female  14  01  1982
  836  837  Sweden        Stockholm    Stockholm  Female  14  05  1998
  838  839  Sweden        Stockholm    Stockholm  Female  18  11  1997
  839  840  Sweden        Jönköping       Nässjö  Female  06  03  2010
  840  841  Sweden        Stockholm    Stockholm    Male  14  11  2007
  841  842  Sweden  Västra Götaland   Sollebrunn  Female  23  12  1984
  843  844  Sweden           Kalmar    Västervik    Male  10  03  1982
  852  853  Sweden        Stockholm    Bandhagen  Female  07  01  1983
  877  878  Sweden     Östergötland     Vadstena    Male  08  07  1992
  879  880  Sweden          Halland   Kungsbacka  Female  04  08  1993
  884  885  Sweden          Gotland        Visby  Female  08  10  2006
  894  895  Sweden        Stockholm   Skärholmen    Male  30  11  2004
  902  903  Sweden        Stockholm  Johanneshov    Male  07  04  1991
  905  906  Sweden        Stockholm         Täby  Female  10  06  1999
  908  909  Sweden     Södermanland   Eskilstuna  Female  15  05  1997
  909  910  Sweden          Dalarna     Borlänge    Male  16  10  2005
  910  911  Sweden            Skåne       Svalöv  Female  08  07  1994
  922  923  Sweden  Västra Götaland      Billdal    Male  22  10  1991
  929  930  Sweden  Västra Götaland     Alingsås  Female  26  09  2000
  948  949  Sweden          Halland   Kungsbacka    Male  01  07  1999
  958  959  Sweden       Norrbotten        Luleå  Female  08  08  1983
  968  969  Sweden     Västerbotten         Umeå    Male  08  08  1989
  969  970  Sweden            Skåne       Svalöv  Female  06  01  2002
  985  986  Sweden           Örebro    Hallsberg  Female  16  10  1985
  986  987  Sweden        Jönköping         Habo    Male  02  12  1994
  991  992  Sweden  Västra Götaland    Strömstad  Female  22  01  1987

  [186 rows x 8 columns]],
 [      id    pais                      estado                     cidade  \
  4      5  France                    Bretagne                  Quimperlé
  6      7  France            Poitou-Charentes                      Niort
  9     10  France           Champagne-Ardenne                      Reims
  23    24  France             Haute-Normandie                      Rouen
  24    25  France            Pays de la Loire                     Nantes
  28    29  France               Franche-Comté                   Besançon
  31    32  France                    Bretagne                     Vannes
  47    48  France               Île-de-France                   Paris 10
  48    49  France                      Centre                      Tours
  59    60  France            Pays de la Loire                     Nantes
  64    65  France                   Bourgogne        Nuits-Saint-Georges
  68    69  France               Île-de-France                    Bobigny
  70    71  France                    Bretagne             Saint-Grégoire
  72    73  France            Pays de la Loire                     Nantes
  85    86  France               Île-de-France                   Paris 09
  90    91  France                    Lorraine                     Longwy
  91    92  France            Pays de la Loire                     Nantes
  96    97  France                    Lorraine                     Vagney
  100  101  France  Provence-Alpes-Côte d'Azur       Saint-Laurent-du-Var
  111  112  France               Île-de-France                   Paris 05
  128  129  France                      Centre              Saint-Avertin
  131  132  France               Île-de-France                      Bondy
  136  137  France             Haute-Normandie                   Le Havre
  140  141  France  Provence-Alpes-Côte d'Azur                  Marseille
  149  150  France               Île-de-France                   Paris 12
  150  151  France                   Bourgogne                    Chenôve
  158  159  France                   Aquitaine                   Bordeaux
  172  173  France                   Aquitaine         Villeneuve-sur-Lot
  178  179  France               Île-de-France                   Colombes
  184  185  France                   Aquitaine           Sarlat-la-Canéda
  ..   ...     ...                         ...                        ...
  900  901  France               Île-de-France                   Paris 14
  906  907  France  Provence-Alpes-Côte d'Azur           Sophia Antipolis
  919  920  France  Provence-Alpes-Côte d'Azur                  Marseille
  920  921  France               Île-de-France                   Paris 14
  927  928  France                   Aquitaine                   Bordeaux
  933  934  France               Franche-Comté                   Besançon
  934  935  France            Poitou-Charentes                      Niort
  936  937  France                   Aquitaine                     Cestas
  940  941  France                    Auvergne                  Montluçon
  942  943  France        Languedoc-Roussillon                       Alès
  943  944  France                 Rhône-Alpes                       Lyon
  944  945  France               Île-de-France                    Créteil
  949  950  France               Île-de-France                   Paris 02
  952  953  France                   Bourgogne                      Mâcon
  956  957  France               Île-de-France  Saint-Quentin-en-Yvelines
  957  958  France               Île-de-France           Paris La Défense
  959  960  France               Île-de-France                     Domont
  961  962  France                   Aquitaine                      Blaye
  962  963  France                       Corse                    Ajaccio
  964  965  France               Île-de-France        Issy-les-Moulineaux
  965  966  France                      Alsace                 Strasbourg
  970  971  France                    Limousin                    Limoges
  971  972  France               Île-de-France          Neuilly-sur-Marne
  977  978  France                      Centre                    Orléans
  981  982  France            Pays de la Loire                    Le Mans

In [99]:
def generalization(k, df, atributos):
    g_date = {'ano': "****", 'mes': "**", 'dia': "**"}
    g_local = {'pais': "*", 'estado': "*", 'cidade': "*"}
    g_gender = {'genero': "*"}

    g_pais = dt_to_list(agrupa(df, atributos[1], 1))
    g_estados = dt_to_list(agrupa(df, atributos[2], 2))
    g_cidades = dt_to_list(agrupa(df, atributos[3], 3))
    g_generos = dt_to_list(agrupa(df, atributos[4], 4))
    g_dias = dt_to_list(agrupa(df, atributos[5], 5))
    g_meses = dt_to_list(agrupa(df, atributos[6], 6))
    g_anos = dt_to_list(agrupa(df, atributos[7], 7))
    
    
    #for atributo in atributos:
    #    a = agrupa(df, atributo, atributos.index(atributo))
    #    dt_to_list(a)
    #    aa.append(["{}".format('-'*100),a])

In [100]:
b = generalization(2,salario_2,colunas)
b