In [1]:
import csv
import heapq
import numpy as np
import pandas as pd

In [2]:
k = 2

df = pd.read_csv('salario.csv')

In [3]:
def anonimity(k):    
    salario_2 = df.drop('salario', axis=1)
    salario_2 = salario_2.drop('id',axis=1)
    #print(df.loc[[1]])

In [4]:
salario_2 = df.drop('salario', axis=1)
salario_2 = salario_2.drop('id',axis=1)
salario_2 = salario_2[0:50]

In [5]:
salario_2.data.unique().shape

(50,)

In [6]:
dt2 = []
dt2 = salario_2["data"].str.split("/", n = 2, expand = True)
salario_2 = salario_2.drop("data", axis=1)

In [7]:
salario_2['dia'] = dt2[0]
salario_2['mes'] = dt2[1]
salario_2['ano'] = dt2[2]

In [8]:
salario_2

              pais             estado           cidade  genero dia mes   ano
0    United States            Alabama           Mobile    Male  10  01  1987
1         Portugal              Porto             Rego    Male  29  11  2007
2           Sweden             Kalmar         Emmaboda    Male  23  06  1984
3           Sweden        Västmanland             Sala  Female  04  11  1983
4           France           Bretagne        Quimperlé  Female  18  11  1990
5    United States               Ohio       Cincinnati  Female  10  07  1981
6           France   Poitou-Charentes            Niort  Female  23  03  1989
7           Mexico         Tamaulipas        Del Valle    Male  02  05  1990
8    United States           Oklahoma    Oklahoma City    Male  27  11  1992
9           France  Champagne-Ardenne            Reims  Female  19  01  2007
10   United States            Florida        Melbourne    Male  29  01  2007
11          Sweden           Värmland           Årjäng    Male  25  03  1995
12          Sweden            Uppsala          Uppsala  Female  15  01  1996
13          Sweden       Södermanland      Katrineholm  Female  31  10  2002
14   United States           Kentucky        Frankfort  Female  14  11  1980
15          Sweden          Stockholm           Älvsjö  Female  05  05  1985
16          Canada           Manitoba         Thompson    Male  30  04  2009
17   United States            Alabama           Mobile  Female  06  05  1983
18          Mexico     Veracruz Llave          Morelos    Male  09  11  2004
19          Sweden            Dalarna           Avesta  Female  04  05  2000
20          Sweden             Kalmar            Nybro  Female  28  02  1996
21   United States              Texas   Corpus Christi    Male  06  01  1999
22  United Kingdom            England       Church End    Male  27  04  1992
23          France    Haute-Normandie            Rouen    Male  20  09  2002
24          France   Pays de la Loire           Nantes  Female  21  11  1990
25          Sweden     Västernorrland        Kvissleby    Male  19  10  1981
26          Sweden    Västra Götaland         Göteborg    Male  01  12  2000
27        Portugal         Portalegre     Santo Aleixo    Male  25  10  1999
28          France      Franche-Comté         Besançon    Male  19  04  1994
29          Sweden          Stockholm      Gustavsberg  Female  16  08  1999
30          Mexico     Veracruz Llave       Lindavista  Female  09  03  2000
31          France           Bretagne           Vannes    Male  03  02  1992
32        Portugal              Porto         Guimarei  Female  18  04  1996
33          Sweden              Skåne            Ystad  Female  17  09  1999
34          Sweden    Västra Götaland         Göteborg    Male  30  12  1997
35        Portugal     Castelo Branco          Aranhas  Female  03  04  1981
36        Portugal            Setúbal          Santana    Male  01  06  2000
37        Portugal              Porto             Fojo  Female  29  05  1981
38   United States           Kentucky       Louisville  Female  26  10  1993
39        Portugal             Aveiro           Canedo    Male  23  12  1999
40        Portugal   Viana do Castelo             Viso  Female  12  01  2005
41        Portugal          Vila Real  Mondim de Basto  Female  18  08  1981
42          Sweden              Skåne        Ängelholm  Female  28  06  2004
43          Sweden          Stockholm       Sundbyberg  Female  17  03  2000
44        Portugal          Vila Real          Amieiro  Female  25  02  2008
45        Portugal              Braga             Agra    Male  29  04  1997
46        Portugal           Santarém          Barrosa  Female  17  01  1981
47          France      Île-de-France         Paris 10  Female  15  01  2004
48          France             Centre            Tours    Male  18  07  2010
49          Sweden          Gävleborg            Gävle  Female  29  09  1985

In [9]:
def distance(reg1, reg2):
    reg1 = np.array(reg1)
    reg2 = np.array(reg2)
    #print(reg1)
    #print(reg2)
    count = 0
    for i in range(0, reg1.shape[1]):
        if(reg1[0][i]!=reg2[0][i]):
            count = count + 1
    return count

In [10]:
distance(salario_2.loc[[0]], salario_2.loc[[1]])

6

In [11]:
salario_2.loc[(df['cidade']) == 'Mobile']

             pais   estado  cidade  genero dia mes   ano
0   United States  Alabama  Mobile    Male  10  01  1987
17  United States  Alabama  Mobile  Female  06  05  1983

In [12]:
cidades = pd.DataFrame(data=salario_2.cidade.unique())
estados = pd.DataFrame(data=salario_2.estado.unique())
paises = pd.DataFrame(data=salario_2.pais.unique())

In [46]:
def ordenarDist(df):
    distances = []
    for i in range(0, df.shape[0]):
        for j in range(i+1,df.shape[0]-1):
            dis = distance(df.loc[[i]],df.loc[[j]])
            distances.append([dis, i, j])
    distances_Ord = sorted(distances),
    return distances_Ord

In [47]:
len(ordenarDist(salario_2))

1

In [48]:
orden = ordenarDist(salario_2)[0][0]

In [49]:
print(salario_2.loc[[orden[1]]])
print(salario_2.loc[[orden[2]]])

      pais           estado    cidade genero dia mes   ano
26  Sweden  Västra Götaland  Göteborg   Male  01  12  2000
      pais           estado    cidade genero dia mes   ano
34  Sweden  Västra Götaland  Göteborg   Male  30  12  1997

In [53]:
similar = salario_2.loc[(df['cidade']) == cidades[0][0]]
re = similar.loc[0]

pais      United States
estado          Alabama
cidade           Mobile
genero             Male
dia                  10
mes                  01
ano                1987
Name: 0, dtype: object