In [4]:
import csv
import numpy as np
import pandas as pd

In [5]:
k = 2

df = pd.read_csv('salario.csv')
print(df)

       id            pais                      estado              cidade  \
0       1   United States                     Alabama              Mobile
1       2        Portugal                       Porto                Rego
2       3          Sweden                      Kalmar            Emmaboda
3       4          Sweden                 Västmanland                Sala
4       5          France                    Bretagne           Quimperlé
5       6   United States                        Ohio          Cincinnati
6       7          France            Poitou-Charentes               Niort
7       8          Mexico                  Tamaulipas           Del Valle
8       9   United States                    Oklahoma       Oklahoma City
9      10          France           Champagne-Ardenne               Reims
10     11   United States                     Florida           Melbourne
11     12          Sweden                    Värmland              Årjäng
12     13          Sweden                     Uppsala             Uppsala
13     14          Sweden                Södermanland         Katrineholm
14     15   United States                    Kentucky           Frankfort
15     16          Sweden                   Stockholm              Älvsjö
16     17          Canada                    Manitoba            Thompson
17     18   United States                     Alabama              Mobile
18     19          Mexico              Veracruz Llave             Morelos
19     20          Sweden                     Dalarna              Avesta
20     21          Sweden                      Kalmar               Nybro
21     22   United States                       Texas      Corpus Christi
22     23  United Kingdom                     England          Church End
23     24          France             Haute-Normandie               Rouen
24     25          France            Pays de la Loire              Nantes
25     26          Sweden              Västernorrland           Kvissleby
26     27          Sweden             Västra Götaland            Göteborg
27     28        Portugal                  Portalegre        Santo Aleixo
28     29          France               Franche-Comté            Besançon
29     30          Sweden                   Stockholm         Gustavsberg
..    ...             ...                         ...                 ...
970   971          France                    Limousin             Limoges
971   972          France               Île-de-France   Neuilly-sur-Marne
972   973        Portugal                      Aveiro           Sangalhos
973   974   United States                     Alabama              Mobile
974   975        Portugal                    Santarém            Meia Via
975   976        Portugal                     Coimbra     Senhor da Serra
976   977        Portugal                     Setúbal               Canha
977   978          France                      Centre             Orléans
978   979        Portugal                      Aveiro            Cruzeiro
979   980        Portugal                    Santarém            Almeirim
980   981        Portugal                       Viseu             Quintãs
981   982          France            Pays de la Loire             Le Mans
982   983          Mexico            Distrito Federal          El Mirador
983   984        Portugal                       Braga               Souto
984   985   United States                       Texas              Dallas
985   986          Sweden                      Örebro           Hallsberg
986   987          Sweden                   Jönköping                Habo
987   988   United States                  California       San Francisco
988   989   United States                      Alaska           Anchorage
989   990          France                 Rhône-Alpes        Cran-Gevrier
990   991          France                      Centre       Saint-Avertin
991   992          Sweden             Västra Götaland           Strömstad
992   993          France  Provence-Alpes-Côte d'Azur           Martigues
993   994          Canada                     Ontario         Mississauga
994   995        Portugal                   Vila Real              Vidago
995   996          Canada                Saskatchewan             Nipawin
996   997        Portugal                  Portalegre        Santo Aleixo
997   998          France               Île-de-France  Boissy-Saint-Léger
998   999          France                    Bretagne              Rennes
999  1000          Mexico                  Guanajuato          Lindavista

     genero        data   salario
0      Male  10/01/1987  $5407.86
1      Male  29/11/2007  $7833.82
2      Male  23/06/1984  $5530.85
3    Female  04/11/1983  $2803.76
4    Female  18/11/1990  $2201.87
5    Female  10/07/1981  $4047.44
6    Female  23/03/1989  $2004.14
7      Male  02/05/1990   $883.43
8      Male  27/11/1992  $5307.88
9    Female  19/01/2007  $7418.79
10     Male  29/01/2007   $813.67
11     Male  25/03/1995  $5435.41
12   Female  15/01/1996  $2541.75
13   Female  31/10/2002  $4874.88
14   Female  14/11/1980  $4178.43
15   Female  05/05/1985  $4391.85
16     Male  30/04/2009  $6289.41
17   Female  06/05/1983  $2934.66
18     Male  09/11/2004  $6995.08
19   Female  04/05/2000  $6250.72
20   Female  28/02/1996  $2923.67
21     Male  06/01/1999  $4941.92
22     Male  27/04/1992  $3585.70
23     Male  20/09/2002  $7512.12
24   Female  21/11/1990  $4627.31
25     Male  19/10/1981  $5563.83
26     Male  01/12/2000  $3472.88
27     Male  25/10/1999  $2534.88
28     Male  19/04/1994  $5689.99
29   Female  16/08/1999  $4848.93
..      ...         ...       ...
970    Male  13/02/1985  $4583.37
971  Female  27/08/2007  $5163.00
972    Male  21/01/2006  $2562.92
973  Female  24/01/2007  $4942.31
974  Female  23/06/1992  $7816.46
975  Female  13/05/1981  $5847.43
976    Male  08/06/1984  $4443.31
977    Male  23/10/1996  $5620.85
978    Male  30/07/2008  $1618.95
979  Female  22/04/1985  $7982.36
980  Female  20/04/1999  $2320.29
981    Male  12/03/1994  $1265.76
982  Female  06/06/2004  $7048.51
983  Female  17/10/2008  $6105.52
984  Female  29/05/1999  $5896.63
985  Female  16/10/1985  $6173.77
986    Male  02/12/1994  $6525.63
987  Female  23/03/1999  $2460.19
988  Female  31/03/1997  $4630.14
989  Female  26/08/1996  $4630.99
990    Male  08/04/1981  $7680.45
991  Female  22/01/1987  $1919.83
992    Male  27/10/1989  $1655.67
993  Female  14/09/1999  $7202.18
994    Male  27/02/1991  $7831.28
995  Female  29/11/1995  $7782.63
996  Female  09/02/1988  $4772.43
997    Male  17/10/1990  $5004.78
998    Male  23/09/1996  $5362.26
999  Female  19/11/2006  $3737.37

[1000 rows x 7 columns]

In [8]:
def anonimity(k):    
    salario_2 = df.drop('salario', axis=1)
    salario_2 = salario_2.drop('id',axis=1)
    #print(df.loc[[1]])

In [11]:
salario_2 = df.drop('salario', axis=1)
salario_2 = salario_2.drop('id',axis=1)

salario_2

,pais,estado,cidade,genero,data
0,United States,Alabama,Mobile,Male,10/01/1987
1,Portugal,Porto,Rego,Male,29/11/2007
2,Sweden,Kalmar,Emmaboda,Male,23/06/1984
3,Sweden,Västmanland,Sala,Female,04/11/1983
4,France,Bretagne,Quimperlé,Female,18/11/1990
5,United States,Ohio,Cincinnati,Female,10/07/1981
6,France,Poitou-Charentes,Niort,Female,23/03/1989
7,Mexico,Tamaulipas,Del Valle,Male,02/05/1990
8,United States,Oklahoma,Oklahoma City,Male,27/11/1992
9,France,Champagne-Ardenne,Reims,Female,19/01/2007
10,United States,Florida,Melbourne,Male,29/01/2007
11,Sweden,Värmland,Årjäng,Male,25/03/1995
12,Sweden,Uppsala,Uppsala,Female,15/01/1996
13,Sweden,Södermanland,Katrineholm,Female,31/10/2002
14,United States,Kentucky,Frankfort,Female,14/11/1980
15,Sweden,Stockholm,Älvsjö,Female,05/05/1985
16,Canada,Manitoba,Thompson,Male,30/04/2009
17,United States,Alabama,Mobile,Female,06/05/1983
18,Mexico,Veracruz Llave,Morelos,Male,09/11/2004
19,Sweden,Dalarna,Avesta,Female,04/05/2000
20,Sweden,Kalmar,Nybro,Female,28/02/1996
21,United States,Texas,Corpus Christi,Male,06/01/1999
22,United Kingdom,England,Church End,Male,27/04/1992
23,France,Haute-Normandie,Rouen,Male,20/09/2002
24,France,Pays de la Loire,Nantes,Female,21/11/1990
25,Sweden,Västernorrland,Kvissleby,Male,19/10/1981
26,Sweden,Västra Götaland,Göteborg,Male,01/12/2000
27,Portugal,Portalegre,Santo Aleixo,Male,25/10/1999
28,France,Franche-Comté,Besançon,Male,19/04/1994
29,Sweden,Stockholm,Gustavsberg,Female,16/08/1999
...,...,...,...,...,...
970,France,Limousin,Limoges,Male,13/02/1985
971,France,Île-de-France,Neuilly-sur-Marne,Female,27/08/2007
972,Portugal,Aveiro,Sangalhos,Male,21/01/2006
973,United States,Alabama,Mobile,Female,24/01/2007
974,Portugal,Santarém,Meia Via,Female,23/06/1992
975,Portugal,Coimbra,Senhor da Serra,Female,13/05/1981
976,Portugal,Setúbal,Canha,Male,08/06/1984
977,France,Centre,Orléans,Male,23/10/1996
978,Portugal,Aveiro,Cruzeiro,Male,30/07/2008
979,Portugal,Santarém,Almeirim,Female,22/04/1985
980,Portugal,Viseu,Quintãs,Female,20/04/1999
981,France,Pays de la Loire,Le Mans,Male,12/03/1994
982,Mexico,Distrito Federal,El Mirador,Female,06/06/2004
983,Portugal,Braga,Souto,Female,17/10/2008
984,United States,Texas,Dallas,Female,29/05/1999
985,Sweden,Örebro,Hallsberg,Female,16/10/1985
986,Sweden,Jönköping,Habo,Male,02/12/1994
987,United States,California,San Francisco,Female,23/03/1999
988,United States,Alaska,Anchorage,Female,31/03/1997
989,France,Rhône-Alpes,Cran-Gevrier,Female,26/08/1996
990,France,Centre,Saint-Avertin,Male,08/04/1981
991,Sweden,Västra Götaland,Strömstad,Female,22/01/1987
992,France,Provence-Alpes-Côte d'Azur,Martigues,Male,27/10/1989
993,Canada,Ontario,Mississauga,Female,14/09/1999
994,Portugal,Vila Real,Vidago,Male,27/02/1991
995,Canada,Saskatchewan,Nipawin,Female,29/11/1995
996,Portugal,Portalegre,Santo Aleixo,Female,09/02/1988
997,France,Île-de-France,Boissy-Saint-Léger,Male,17/10/1990
998,France,Bretagne,Rennes,Male,23/09/1996
999,Mexico,Guanajuato,Lindavista,Female,19/11/2006